.col-7-story-card{
	background: #fafafa;
	height: 250px;
	position: relative;
	padding: 12px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.bottom-pull-div{
	position: absolute;
	bottom: 12px;
}

.col-7-story-card .article-title{
	font-size: 18px;
	color: #333;
	font-family: bitter;
	font-weight: 900;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 12px;
	max-width: 516px;
}

.col-7-story-card .by-line{
	font-size: 10px;
	color: rgba(51, 51, 51, 0.6);
	font-family: cabin;
	font-weight: 100;
	letter-spacing: 0.5px;
}